.root{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 25px;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

formControl {
         margin: 20px;
         minWidth: 120px;
         maxWidth: 300px;
     }