.root{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 25px;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

formControl {
         margin: 20px;
         minWidth: 120px;
         maxWidth: 300px;
     }
.paper{
    margin-top: 32px;
    display: flex;
    flexDirection: column;
    alignItems: center;
}
.avatar {
    margin: 4px;
    background-color: #dc004e;
}
.form {
    width: 100%;
    margin-top: 4px;
}

.submit{
    margin: 40px
}


.alignItemsAndJustifyContent{
    width: 500px;
    display: flex;
    alignItems: center;
    justifyContent: center;
}